<div class="container">
    <div class="projects my-5">
      <h2>Portfolio</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i className="fa fa-angular"></i> Angular</h5>
              <p class="card-text">how angular working.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> <i className="fa fa-bootstrap"></i>Bootstrap </h5>
              <p class="card-text">how bootstrap working.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i className="fa fa-react"></i>React</h5>
              <p class="card-text">how react working.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
