<div class="skills my-5">
  <h2 class="skills-class">Skills</h2>

  <div class="progress my-3 barhtml" style="height: 40px;">
    <div class="progress-bar" style="width: 90%; height: 100%;">
      <i class="fa-brands fa-html5"></i> HTML - 90%
    </div>
  </div>

  <div class="progress my-3 barhtml" style="height: 40px;">
    <div class="progress-bar" style="width: 80%; height: 100%;">
      <i class="fa-brands fa-css3-alt"></i> CSS - 80%
    </div>
  </div>

  <div class="progress my-3 barhtml" style="height: 40px;">
    <div class="progress-bar" style="width: 75%; height: 100%;">
      <i class="fa-brands fa-js"></i> JavaScript - 75%
    </div>
  </div>
</div>

 


